<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/cd95c468-c847-4d77-a75e-1df1ae3a002f/resourceGroups/learn-a3618cca-8fba-4e07-af9a-a136c608520c/providers/Microsoft.Web/sites/kiguti-watchfunctions</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <SiteUrlToLaunchAfterPublish>http://kiguti-watchfunctions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>kiguti-watchfunctions.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>kiguti-watchfunctions</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$kiguti-watchfunctions</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>